<h2 class="ui center aligned huge icon header">
  <i class="inverted yellow wechat icon"></i>
  <div class="content">
    ChatApp
    <div class="sub header">Speak to your friends!</div>
  </div>
</h2>

<div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
        <div class="content">
          <div class="ui feed">
            <%= render @messages %>
            
            <!--All of the below code I replaced by rendering my message partial, I don't even need to iterate-->
            <!--<% @messages.each do |message| %>-->
            <!--<div class="event">-->
            <!--  <div class="content">-->
            <!--    <div class="summary">-->
            <!--       <p><em><%= message.user.username.capitalize %>:</em> <%= message.body %></p>-->
            <!--    </div>-->
            <!--  </div>-->
            <!--</div>-->
            <!--<% end %>-->
            
          </div>
        </div>
        <div class="extra content">
          <%= form_for(@message, html: { class: "ui reply form", role: "form" }, url: message_path) do |f| %>
            <div class="field">
              <div class="ui fluid icon input focus" data-children-count="1">
                <%= f.text_field :body %>
                <%= f.button '<i class="bordered inverted yellow edit icon"></i>'.html_safe %>
              </div>
            </div>
          <% end %>
        </div>
      </div>    
    </div>
    
    <div class="four wide column">
      <div class="ui inverted vertical menu">
        <a class="active item">
          Home
        </a>
        <a class="item">
          Messages
        </a>
        <a class="item">
          Friends
        </a>
      </div>
    </div>
</div>